<p id="notice"><%= notice %></p>

<div class="login_container">
  <div class="login_path">
  <div>
    <p>
      <strong>Name:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Followers:</strong>
      <%= @user.followers.length %>
      <%# @user.follow %>
    </p>
  </div>

  <p>
    <strong>Location:</strong>
    <%= @user.location %>
  </p>

  <% if current_user.id == @user.id %>
      <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
  <%= link_to 'Back', albums_path %>
  </div>
</div>
