<p id="notice"><%= notice %></p>

<h1>Albums</h1>
<%= link_to 'New Album', new_album_path %>
<br>

<div class="album_con">
  <% @albums.each do |album| %>
      <div class="albums">
        <p><%= link_to image_tag(album.resize_image(0), :class => "image_index"), album %></p>
        <div class="album_details">
          <p><%= album.name %></p>
          <p>Description: <%= album.description %></p>
          <% if current_user.id == album.user_id %>
            <div class="index_actions">
              <p><%= link_to 'Edit', edit_album_path(album) %></p>
              <p><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>


