<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email %>
</p>

<% if @album.images.attached? %>
    <% @album.images.each_with_index do |image, index| %>
        <%= image_tag(@album.resize_image(index), class: "album_show_image")%>
    <% end %>
<% end %>

<% if current_user.id == @album.user_id %>
    <%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'Back', albums_path %>
