<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email %>
</p>

<% if @album.images.attached? %>
    <% @album.images.each_with_index do |image, index| %>
        <%= image_tag(@album.resize_image(index), style: 'width:25%; height: auto;')%>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
