<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @album.user.email, @album.user %>
</p>

<% if @album.images.attached? %>
    <% @album.images.each_with_index do |image, index| %>
        <%= link_to image_tag(@album.resize_image(index), class: "album_show_image"), earn_coin_for_view_path(index: index), method: :put %>
    <% end %>
<% end %>

<% if current_user.id == @album.user_id %>
    <%= link_to 'Edit', edit_album_path(@album) %> |
    <%= link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', albums_path %>
