<!DOCTYPE html>
<html>
  <head>
    <title>CameraRoll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <header>
    <div class="row head_con">
      <%= link_to albums_path do %>
        <div class="logo_con">
          <h1>CameraRoll 📸</h1>
        </div>
      <% end %>
      <% if signed_in? %>
        <div class="signed_in">
          Signed in as: <%= link_to current_user.email, current_user%>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        </div>
    </div>
      <% else %>
    </header>

  <div class="container">
    <div class="login_container">
      <section class="login_path">
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
        <% end %>
        <%= yield %>
      </section>
    </div>
  </div>

    <footer>
      <section>
        <h5> Richard Wahba © </h5>
      </section>
    </footer>
  </body>
</html>
